.organization {
  position: relative;
  width: 100%;
  margin: 80px auto;
  padding: 50px;
  text-align: center;
  border: 1px solid;
}

.row {
  margin-top: 10px;
}

.org-form {
  margin-top: 20px;
}

.org-head {
  margin: 5px;
  text-align: start;
}

.org-input{
  display: inline-block;
  width: 100%;
  margin: 20px 0;
  padding: 10px;
  border: 1px solid	#859900;
  font-size: 15px;
}

.description {
  max-width: 100%;
  min-width: 100%;
  min-height: 100px;
}

.submit-input {
  display: inline-block;
  border: none;
  width: 50%;
  margin-top: 30px;
  padding: 12px;
  font-weight: 500;
  font-size: 22px;
}

.submit-input:hover {
  cursor: pointer;
}
